@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}
html, body {
    height: 100vh;
    width:100vw;
    background-color: black;
}
body {
    background: url('../imagens/umabolha.jpg') no-repeat top center;
    background-size: cover;
    background-attachment: fixed;
}
main {
    height: 100vh;

    position: relative; /* Para posicionamento absoluto dos filhos */
    
}

section#telefone {
    position: absolute;/* Posicionamento absoluto em relação ao pai */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Centraliza o elemento */
    padding-right: 20px;

    height: 627px;
    width: 311px;
    background: url('../imagens/frame-iphone.png') no-repeat ;

    
}
iframe#tela {
    position: relative;
    top: 81px;
    left:23px;
    width: 266px;
    height:  470px;
}
section#redes-sociais {
    text-align: right;
} 

section#redes-sociais img {
    width: 50px;
    margin: 10px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.438);
    box-sizing: border-box; /* Inclui a borda na largura total do elemento */
}
section#redes-sociais img:hover {
    border: 2px solid rgba(255, 255, 255, 0.199); 
    transform: translate(-3px, -3px);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.438);
    transition: transform 0.5s, border 1s;    
}